### Why Pandas

Pandas is the most popular Python library for data analysis, so let's see why they use it.

#### Getting started

In [2]:
import pandas as pd

## Creating data
there are two core objects in pandas: <b style="color: #00a1ff">DataFrame</b> and <b style="color: #00a1ff">Series</b>

### DataFrame
Is a table. It contains an array of entries with certain value.

In [2]:
pd.DataFrame({"Books": [20, 26], "Novels": [100, 200]})

   Books  Novels
0     20     100
1     26     200

### Series
A sequence of data values. If <span style="color: #00a1ff">DataFrame </span> is a table, a <span style="color: #00a1ff">Series</span> is a list.

In [3]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [4]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

### Reading data files
Most of the time, we won't actually be creating our own data by hand. Instead, we'll be working with data that already exist.

In [4]:
Kitty_survery = pd.read_csv("./2-99-Data_files/Kitty-Survey.csv")

# the dimentionality of the data file
Kitty_survery.shape

(40, 6)

In [9]:
# return the first n rows -- defualt n = 5
Kitty_survery.head(0)

Empty DataFrame
Columns: [User number, Q1: How many times a year do you do a DIY project?, Q2: About how much do you spend on home-improvement each year?, Q3: Do you plan to complete a DIY project that involves painting in the next year?, Q4: If you answered yes to question 3, about how much do you plan to spend on indoor paint for the project?, Q5: If Meer-Kitty offered indoor paint, how likely are you to purchase our product?]
Index: []

### Renaming
change index / column names.

In [ ]:
Kitty_survery.rename(columns={'Q1: How many times a year do you do a DIY project?': 'projects/year'})

. . .  . . . . . . . . . . . . . . . . .
<br> <br>

* *for more resources you can visit <a href="https://www.kaggle.com/learn">Kaggle</a> or <a href="https://www.coursera.org/professional-certificates/ibm-data-science">IBM Skills</a>*

* *It will be great if you use the AI chatbots to quiz or to get more details.*

<br>
<hr>

Created by <a href="https://github.com/mohamedyosef101">Mohamed Yosef </a>

*You can follow me on <a href="https://medium.com/@mohamedyosef101">Medium</a> - <a href="https://linkedin.com/in/mohamedyosef101">LinkedIn</a>*

<hr>