In [1]:
# let's get started
import pandas as pd

### Now we need to read our file again

In [6]:
orders = pd.read_csv("./2-99-Data_files/orders.csv")
orders.head(1)

,OrderID,OrderDate,OrderTotal,CookieID,CookieName,RevenuePerCookie,CostPerCookie,Quantity,CustomerID,CustomerName,Phone,Address,City,State,Zip,Country,Notes
0,1,1/1/2022,1815,1,Chocolate Chip,5,2.0,229,5,Park & Shop Convenience Stores,251-655-2909,2217 Lonely Oak Drive,Mobile,AL,36602,United States,"New customer, make sure to please them! Very f..."

In [7]:
# we can acess the property of an object by accessing it as an attribute.
orders.CookieName

0                     Chocolate Chip
1                     Fortune Cookie
2                              Sugar
3                     Oatmeal Raisin
4                      Snickerdoodle
                   ...
126                    Snickerdoodle
127    White Chocolate Macadamia Nut
128                   Oatmeal Raisin
129                    Snickerdoodle
130    White Chocolate Macadamia Nut
Name: CookieName, Length: 131, dtype: object

In [9]:
# We can also access the values using indexing ([]) operator 
### if we have a dictionary

orders['CookieName']

0                     Chocolate Chip
1                     Fortune Cookie
2                              Sugar
3                     Oatmeal Raisin
4                      Snickerdoodle
                   ...
126                    Snickerdoodle
127    White Chocolate Macadamia Nut
128                   Oatmeal Raisin
129                    Snickerdoodle
130    White Chocolate Macadamia Nut
Name: CookieName, Length: 131, dtype: object

In [10]:
# What if I need a specific value
orders["CookieName"][0]

'Chocolate Chip'

### Index-based selection
Selecting data based on its numerical position in the data <b style="color: #00a1ff; background-color: black; border-radius: 0.25rem; padding: 0 6px;"> iloc </b>

<br>

In [11]:
orders.iloc[0]

OrderID                                                             1
OrderDate                                                    1/1/2022
OrderTotal                                                       1815
CookieID                                                            1
CookieName                                             Chocolate Chip
RevenuePerCookie                                                    5
CostPerCookie                                                     2.0
Quantity                                                          229
CustomerID                                                          5
CustomerName                           Park & Shop Convenience Stores
Phone                                                    251-655-2909
Address                                         2217 Lonely Oak Drive
City                                                           Mobile
State                                                              AL
Zip                                                             36602
Country                                                 United States
Notes               New customer, make sure to please them! Very f...
Name: 0, dtype: object


<b style="background-color: #ffd4d4; color: red; padding: 1px 4px; border-radius: 2px;">NOTE ...</b><br><br>
Both <b style="color: #00a1ff; background-color: black; border-radius: 0.25rem; padding: 0 6px;"> loc </b> and <b style="color: #00a1ff; background-color: black; border-radius: 0.25rem; padding: 0 6px;"> iloc </b> are row-first, column-second. Not like native Python!

In [14]:
# To get a coloumn with iloc
orders.iloc[:, 4]

# ':' means every thing and we can change it with any index range we want
# like :3 or 1:3 or [0, 1, 2] or even -4:

0                     Chocolate Chip
1                     Fortune Cookie
2                              Sugar
3                     Oatmeal Raisin
4                      Snickerdoodle
                   ...
126                    Snickerdoodle
127    White Chocolate Macadamia Nut
128                   Oatmeal Raisin
129                    Snickerdoodle
130    White Chocolate Macadamia Nut
Name: CookieName, Length: 131, dtype: object

### Label-based selection 
Selecting data based on it's index value, not it's position.

In [15]:
orders.loc[0, 'CookieName']

'Chocolate Chip'

In [23]:
orders.loc[len(orders)-5:, ['OrderID', 'CookieID', 'CookieName']]

     OrderID  CookieID                     CookieName
126       47         4                  Snickerdoodle
127       47         6  White Chocolate Macadamia Nut
128       48         3                 Oatmeal Raisin
129       49         4                  Snickerdoodle
130       50         6  White Chocolate Macadamia Nut

### Conditional selection
To do interesting things with the data, we often need to ask questions based on conditions.

In [30]:
orders.CookieName == "Chocolate Chip"

0       True
1      False
2      False
3      False
4      False
       ...
126    False
127    False
128    False
129    False
130    False
Name: CookieName, Length: 131, dtype: bool

In [ ]:
# what if we want to know what's inside this true?

orders.loc[orders.CookieName == 'Chocolate Chip']

In [36]:
# More than one condition
orders.loc[(orders.CookieName == 'Chocolate Chip') & (orders.Quantity > 200)]


# NOTE >> like we used & as "and", we can also use | as "or".

,OrderID,OrderDate,OrderTotal,CookieID,CookieName,RevenuePerCookie,CostPerCookie,Quantity,CustomerID,CustomerName,Phone,Address,City,State,Zip,Country,Notes
0,1,1/1/2022,1815,1,Chocolate Chip,5,2.0,229,5,Park & Shop Convenience Stores,251-655-2909,2217 Lonely Oak Drive,Mobile,AL,36602,United States,"New customer, make sure to please them! Very f..."
18,6,1/9/2022,1586,1,Chocolate Chip,5,2.0,214,4,Wholesome Foods,347-789-7688,1521 Redbud Drive,Huntington,NY,11743,United States,"CEO has three kids, first one is Charles, don'..."
40,13,1/20/2022,3293,1,Chocolate Chip,5,2.0,201,3,ACME Bites,920-419-6270,4660 Sycamore Lake Road,Green Bay,WI,54303,United States,One of our best customers! Likes to talk about...
56,20,2/1/2022,1955,1,Chocolate Chip,5,2.0,244,2,ABC Groceries,801-583-8695,3215 Tori Lane,Salt Lake City,UT,84113,United States,Friendly but a little old school. Talks way to...
113,43,3/7/2022,3518,1,Chocolate Chip,5,2.0,209,5,Park & Shop Convenience Stores,251-655-2909,2217 Lonely Oak Drive,Mobile,AL,36602,United States,"New customer, make sure to please them! Very f..."

### Built-in Conditional selectors

- isin

- isnull & notnull

In [39]:
orders.loc[orders.Country.isnull()]

Empty DataFrame
Columns: [OrderID, OrderDate, OrderTotal, CookieID, CookieName, RevenuePerCookie, CostPerCookie, Quantity, CustomerID, CustomerName, Phone, Address, City, State, Zip, Country, Notes]
Index: []

. . .  . . . . . . . . . . . . . . . . .
<br> <br>

* *for more resources you can visit <a href="https://www.kaggle.com/learn">Kaggle</a> or <a href="https://www.coursera.org/professional-certificates/ibm-data-science">IBM Skills</a>*

* *It will be great if you use the AI chatbots to quiz or to get more details.*

<br>
<hr>

Created by <a href="https://github.com/mohamedyosef101">Mohamed Yosef </a>

*You can follow me on <a href="https://medium.com/@mohamedyosef101">Medium</a> - <a href="https://linkedin.com/in/mohamedyosef101">LinkedIn</a>*

<hr>